h1{
  font-family: Arial;
}
html {
  width: 100%;
  height: 100%;
}
#sw-link{
  position: absolute;
  bottom: 20px;
  left: 20px;

}
#sw-link img{
  border-radius: 4px;
  box-shadow: 0 1px 2px #888;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(105,155,200);
  background: -moz-radial-gradient(top left, ellipse cover,  rgba(105,155,200,1) 0%, rgba(181,197,216,1) 57%);
  background: -webkit-gradient(radial, top left, 0px, top left, 100%, color-stop(0%,rgba(105,155,200,1)), color-stop(57%,rgba(181,197,216,1)));
  background: -webkit-radial-gradient(top left, ellipse cover,  rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
  background: -o-radial-gradient(top left, ellipse cover,  rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
  background: -ms-radial-gradient(top left, ellipse cover,  rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
  background: radial-gradient(ellipse at top left,  rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#699bc8', endColorstr='#b5c5d8',GradientType=1 );

}


#swimbi{
	padding: 20px 0px 0 0px;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 9999;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	left: 0px;
}
#swimbi a:not([href]){
	cursor: default;
}
#swimbi a.B{
	font-weight: bold !important;
}
#swimbi a.I{
	font-style: italic !important;
}
#swimbi a.U{
	text-decoration: underline !important;
}
#swimbi>ul{
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAjCAYAAABVcWC0AAAAW0lEQVQIW03H1wmAUAxAUTKuKIoFRVF0Ensvu9gd5xlCLD+HeyGaLgHheDLBgEX4/cF4HRbhtvsfp8El7HpjrAqLMEvEeNGLVQCh5Q9qtgj4UFJcQk5mRoqxXm4zTWZDY/2ozgAAAABJRU5ErkJggg==');
	padding: 0 4px 0 4px !important;
	border-radius: 4px;
	box-shadow: 0px 2px 0px  0px rgba(77,124,168,1);
	width: auto;
	list-style: none;
	position: relative;
	white-space: nowrap;
	display: inline-table;
	font-size: 0px;
}
#swimbi ul, #swimbi li, #swimbi a{
	font-family: Verdana, Geneva, sans-serif !important;
	margin: 0;
	padding: 0;
}
#swimbi>ul>li{
	display: inline-block;

	vertical-align: top;
	font-size: 13px;
	position: relative;
}
#swimbi ul li:hover>ul,#swimbi .hvr>ul{
	display: block !important;
}
#swimbi>ul>li:hover>a,#swimbi .hvr>a{
	color: #a54242 !important;
	border-radius: 0px;
	position: relative;
	z-index: 9;
}
#swimbi ul li:hover > a:only-child{ box-shadow:none;}
#swimbi ul li a{
	display: block;
	text-decoration: none;
	white-space: nowrap;
}
#swimbi>ul>li>a{
	padding: 0px 18px;
	line-height: 35px;
	height: 35px;
	color: #454545;
	margin-right: -1px;}
#swimbi ul ul{
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	display: none;
	background: #83acd3;
	border-radius: 4px;
	width: auto;
	list-style: none;
	min-width: 22px;
	padding: 0px 1px 2px 1px;
	position: absolute;
	z-index: 7;
	margin-top: 0;
	box-shadow: 0px 0px 0px  0px rgba(85,85,85,0);
	top: 33px;
}
#swimbi ul ul.columns{
	font-size: 0px;
}

#swimbi ul ul li.column{
	display: inline-block;
	width: auto;
	vertical-align: top;
}

#swimbi ul ul li.column>ul{
	position: relative;
	display: block;
	box-shadow: none;
	background: none;
	left:0;
	padding: 0;
}

#swimbi ul ul li.column>ul:hover{
	z-index: 9;
}

#swimbi ul ul li{
	float: none;
	position: relative;
	width: 100%;
	text-align: left;
}
#swimbi ul ul li a{
	padding-left: 8px;
	padding-right: 26px;
	line-height: 25px;
	height: 25px;
	color: #454545 !important;
	text-shadow: 0px 0px 1px rgba(254,254,254,0);
}
#swimbi ul ul li>a:after{
	content: '';
	position: absolute;
	right: 3px;
	top: 50%;
	width: 0;
	height: 0;
	margin: -4px 5px;
	border-left: 5px #454545 solid;
	border-top: 4px dashed transparent;
	border-bottom: 4px dashed transparent;
	border-right: none;
	display: inline-block;
	overflow:hidden;
}
#swimbi ul ul>li>a:only-child{
	padding-right: 8px;
}
#swimbi ul ul>li>a[data-icon], #swimbi ul.mixicon>li>a{
	padding-right: 47px;
}
#swimbi ul ul>li>a[data-icon]:only-child, #swimbi ul.mixicon>li>a:only-child, #swimbi ul li.column>ul.mixicon>li>a:only-child{
	padding-right: 29px;
}
#swimbi ul li.column>ul>li>a:before, #swimbi ul ul>li>a:only-child:before{
	padding-right: 0px;
}
#swimbi ul li.column>ul>li>a[data-icon]:before, #swimbi ul li.column>ul.mixicon>li>a:before{
	padding-right: 4px;
}
#swimbi ul li.column>ul>li>a[data-icon], #swimbi ul li.column>ul.mixicon>li>a{
	padding-right: 26px;
}
#swimbi ul li.column>ul>li>a[data-icon]:only-child{
	padding-right: 8px;
}
#swimbi ul ul li>a:only-child:after{
	display: none;
}
#swimbi ul ul li:hover>a{
	border-radius: 0px;
	color: #fefefe !important;
	box-shadow: none;
}
#swimbi ul ul li:hover>a:after{
	border-left: 5px #fefefe solid;
}
#swimbi ul ul li a:hover{
	border-radius: 0px;
	background: #a54242;
	text-shadow: 0px 0px 0px rgba(18,18,18,0);
}
#swimbi ul ul li a:hover:after{
	border-left: 5px #fefefe solid;
}
#swimbi canvas{
	position: absolute;
	width: 1px;
	height: 1px;
}
canvas noscript{
	display: none;
}
#swimbi ul ul ul{
	position: absolute;
	z-index: 7;
	left: 100%;
	top: 0;
}
#ie_message{
	display:none;
}
@media screen and (min-width:0\0){
#ie_message{
	display: block;
	margin-top: 10px;
	background: #ecc;
}
}
@font-face{
font-family:'ifont';
src:url('https://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0');
src:url('https://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),url('https://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),url('https://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),url('https://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
}

#swimbi ul>li>a:before, #swimbi>ul>li>a:after{
	color: #454545;
	font-family: ifont;
	pointer-events: none;
	line-height: 35px;
	font-size: 14px;
	padding: 0 14px 0 0;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	float: left;
	content: attr(data-icn);
	visibility: hidden;
}

#swimbi>ul>li>a:after{
	visibility: visible;
	position: absolute;
	z-index: 6;
	top:0;
	left: 18px;
	padding: 0;
	text-shadow: -1px -1px 0 rgba(239,239,239,0);
	transition: all .12s ease-out;
	-webkit-transition: all .12s ease-out;
}

#swimbi>ul>li>a:before, #swimbi>ul>li>a:after{
	width: 14px;
}

#swimbi>ul>li>a[data-icon]:before{
	height: 14px;
}

#swimbi>ul>li>a.empty:before, #swimbi>ul>li>a.empty:after{
	padding: 0;
}

#swimbi>ul>li:hover>a:after, #swimbi>ul>li.hvr>a:after{
	color: #a54242;
	font-size: 19px;
	left: 15.5px;
	text-shadow: -1px -1px 0 rgba(254,254,254,0);
}

#swimbi ul ul li a[data-icon]:before, #swimbi ul ul.mixicon>li>a:before{
	visibility: visible;
	float: left;
	color: #454545;
	line-height: 25px;
	font-size: 17px;
	width: 17px;
	height: 17px;
	padding: 0 4px 0 0;
}

#swimbi ul ul li:hover>a:before{
	color: #fefefe;
}


#swimbi a.swsearch{
	width: 120px;
}

#srchSibl:after,#srchSibl:before{
	display: none !important;
}

#swimbi a.swsearch:hover{
	position: absolute;
	width: 256px;
	right: 0;
	transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
}

#swimbi a.swsearch:hover{
	background:none !important;
}

#swimbi a.swsearch input{
	height: 23px;
	float: left;
	margin: 6px 0 0 1px !important;
	width: 100%;
	position: relative;
	padding: 2px 5px !important;
	outline: none;
	box-sizing: border-box;
	box-shadow: inset 0 1px 3px #6e15;
	border: none;
	border-bottom: 1px solid #e0ebf5;
	background: #e1ecf7;
	color: #555;
	border-radius: 4px;
}

#swimbi a.swsearch input:-webkit-autofill{
	transition: background-color 5000s ease-in-out 0s;
}

#swimbi a.swsearch input:focus+.mglass, #swimbi a.swsearch input:focus~.slabel{
	display: none;
}

#swimbi .mglass{
	position:absolute;
	border-radius: 30px;
	height: 6px;
	width: 6px;
	left: 24px;
	top: 11px;
	border: 2px solid #888;
	pointer-events:none;
}

#swimbi .mglass:after{
	content: '';
	height: 2px;
	width: 6px;
	background: #888;
	position:absolute;
	top:7px;
	left:5px;
	transform: rotate(45deg);  
	-ms-transform: rotate(45deg);  
	-webkit-transform: rotate(45deg);  
}

#swimbi .slabel{
	display: inline-block;
	position: absolute;
	z-index: 897;
	left: 42px;
	color: #aaa;
	text-shadow: none;
	pointer-events:none;
}

 #swmobsearch{
	position: absolute;
	z-index: 987;
	top: 20px;
	line-height: 35px;
	font-size: 13px;
	right: 59px;
	left: 22px;
	width: auto !important;
	height: 100%;
}

 #swmobsearch .mglass{
	left: 6px !important;
}

 #swmobsearch .slabel{
	left: 24px !important;
}

 #swmobsearch:hover{
	right: 59px !important;
	width: auto !important;
	left: 22px !important;
}

@media (max-width: 768px) {
	#swimbi>ul{
		min-width: 300px !important;
		width: 100%;
		height: 35px;
		padding: 0 !important;
	}

	#swimbi ul li{
		float: none;
		display: block;
		position:relative;
	}

	#swimbi>ul>li{
		width: auto !important;
		margin: 0 1px 0 1px;
	}

	#swimbi>ul>li>a{
		display:none;
	}

	#swimbi>ul:hover>li>a,#swimbi .hvr>li>a{
		display:block !important;
	}

	#swimbi>ul:hover~#swmobsearch,#swimbi .hvr~#swmobsearch{
		display:none !important;
	}

	#swimbi>ul>li:hover,#swimbi .hvr{
		z-index: 9 !important;
	}

	#swimbi>ul:before {
		float: right;
		line-height: 35px;
		content: '';
		margin: 12px 22px 11.75px 0;
		width: 15px;
		height:2.25px;
		border-top: 6.75px double #454545;
		border-bottom: 2.25px solid #454545;
	}

	#swimbi>ul:hover:before, #swimbi>ul.hvr:before {
		opacity: 0;
	}

	#swimbi ul ul ul{
		margin-top: 25px;
	}

	#swimbi ul ul {
		left: 25px !important;
	}

	#swimbi ul ul li.column{
		display: block;
	}

	#swimbi ul ul li.column>ul{
		left: 0 !important;
		margin-top: 0;
	}

}